nav{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    overflow: hidden;
}

li a{
    display: block;
    list-style: none;
    padding: 8px;
    text-decoration: none;
    text-align: center;
}

li{
    float: right;
}